@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  background-color: #5ec05e;
  font-family: 'Lato', sans-serif;
}

.grocery-list .grocery-title {
  cursor: pointer;
}

.marked {
  text-decoration: line-through;
}

input[type='text'] {
  font-size: 2rem;
}
