@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  background-color: #5ec05e;
  font-family: 'Lato', sans-serif;
}

.grocery-list {
  padding: 0 1rem;
  max-height: 430px;
  overflow: hidden;
  overflow-y: scroll;
}

.grocery-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #d1e7dd;
  border-radius: 10px;
}

.grocery-list::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: #d1e7dd;
}

.grocery-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#ffff00),
    to(#d9dd00),
    color-stop(0.6, #ffa600)
  );
}

.grocery-list .grocery-title {
  cursor: pointer;
}

.marked {
  text-decoration: line-through;
}

input[type='text'] {
  font-size: 2rem;
}
